.itemView {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex: 1;
}

.itemView__heading p:first-child {
    color: #BFBFBF;
    font-size: 0.65vw;
    font-weight: 500;
}

.itemView__heading h2 {
    margin-top: 1vh;
    color: white;
    font-size: 1.6vw;
    font-weight: 800;
    text-transform: uppercase;
}

.itemView__heading p:last-child {
    width: 60%;
    margin-top: 2vh;
    color: #BDB6B6;
    font-size: 0.7vw;
    line-height: 2.4vh;
}

.itemView__craftItems {
    display: flex;
    gap: 0.6vw;
}

.itemView button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4vw;
    width: 23vw;
    height: 5.5vh;
    background-color: rgb(37, 37, 37);
    color: rgb(110, 110, 110);
    border: 0.15vw solid rgb(97, 97, 97);
    border-radius: 0.3vw;
    font-size: 0.7vw;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.itemView button:not(:disabled):hover {
    background-color: rgb(0, 78, 0);
    border-color: rgb(0, 165, 0);
    color: rgb(0, 165, 0);
    cursor: pointer;
}

.itemView button:active:not(:disabled) {
    transform: scale(0.95);
}

.itemView button:disabled {
    background-color: rgb(25, 25, 25);
    color: rgb(70, 70, 70);
    border-color: rgb(60, 60, 60);
    cursor: not-allowed;
}

.itemView__image {
    top: -4vh;
    right: 0;
    width: 18vw;
    position: absolute;
}

.noSelectedItem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.noSelectedItem .heading {
    z-index: 10;
    color: rgb(224, 224, 224);
    font-weight: 900;
    font-size: 1.4vw;
}

.noSelectedItem .desc {
    z-index: 10;
    margin-top: 2vh;
    line-height: 2.4vh;
    width: 30vw;
    font-weight: 500;
    font-size: 0.65vw;
    color: rgb(161, 161, 161);
}

.noSelectedItem img {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 15%;
    transform: translate(-50%, -50%);
    filter: grayscale(100%);
}

.spinner {
    animation: spin 1s linear infinite;
}

.progressBar {
  width: 100%;
  height: 10px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  transition: width 1s linear;
}
