@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
}
*::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: #313131;
}

*::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #fb923c;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: oklch(60.763% 0.15899 55.922);
}

@media (width >= 640px) {
    :root {
        font-size: 6px;
    }
}

@media (width >= 768px) {
    :root {
        font-size: 8px;
    }
}

@media (width >= 1024px) {
    :root {
        font-size: 10px;
    }
}

@media (width >= 1280px) {
    :root {
        font-size: 12px;
    }
}

@media (width >= 1536px) {
    :root {
        font-size: 16px;
    }
}
