:root {
  --primary: rgba(15, 15, 15, 0.95);
  --secondary: rgba(15, 15, 15, 0.5);
  --border: rgba(255, 255, 255, 0.1);
  --accent: rgba(255, 136, 0, 0.7);
  --accent-foreground: rgba(255, 136, 0, 1);
  --accent-10: rgba(255, 136, 0, 0.1);
  --accent-50: rgba(255, 136, 0, 0.5);
  --accent-05: rgba(255, 136, 0, 0.05);

  --header-color: rgb(255, 136, 0);
  --header-glow: 10px;

  --text-dark: rgb(29, 30, 49);

  --danger: #F45B69;
  --danger-foreground: #FFFFFF;
}