/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

.oxygen {
    display: none;
    opacity: 0;
    border-radius: 0.2vw;
    align-items: center;
    gap: 0.8vw;
    padding: 0.8vh 0.6vw;
    display: flex;
    position: absolute;
    right: 1vw;
    bottom: 17vh;
    width: 17vw;
    height: 4.5vh;
    background-color: rgb(0, 33, 61, 0.85);
}

.oxygen__icon {
    font-size: 0.85vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2vw;
    height: 2.2vw;
    clip-path: circle();
    background-color: #016f9e;
}

.oxygen span {
    display: flex;
    flex-direction: column;
}

.oxygen span p:nth-child(1) {
    color: #0084FF;
    font-weight: 800;
    font-size: 0.75vw;
}

.oxygen span p:nth-child(2) {
    color: white;
    font-size: 0.7vw;
}

.chestsCollected {
    display: none;
    opacity: 0;
    position: relative;
    border-radius: 0.2vw;
    align-items: center;
    gap: 0.8vw;
    padding: 0.8vh 0.6vw;
    display: flex;
    position: absolute;
    right: 1vw;
    bottom: 10vh;
    width: 19vw;
    height: 4.5vh;
    background-color: rgb(0, 33, 61, 0.85);
}

.chestsCollected__icon {
    font-size: 0.85vw;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2vw;
    height: 2.2vw;
    clip-path: circle();
    background-color: #016f9e;
}

.chestsCollected span {
    display: flex;
    flex-direction: column;
}

.chestsCollected span p:nth-child(1) {
    color: #0084FF;
    font-weight: 800;
    font-size: 0.75vw;
}

.chestsCollected span p:nth-child(2) {
    color: white;
    font-size: 0.7vw;
}

.counters {
    gap: 0.4vw;
    display: flex;
    position: absolute;
    right: 0.6vw;
}

.counters div {
    align-items: center;
    justify-content: space-around;
    background-color: #004867;
    padding: 0.6vh 0.4vw;
    width: 2.5vw;
    display: flex;
}

.counters div:nth-child(1) i, .counters div:nth-child(1) p {
    font-weight: bold;
    color: #00C8FF;
    font-size: 0.7vw;
}

.counters div:nth-child(2) i, .counters div:nth-child(2) p {
    font-weight: bold;
    color: #008CFF;
    font-size: 0.7vw;
}