.kariee_pozwolenia{
    position: relative;
    height: 100%;

    .kariee_header{
        padding-right: 13px;
    }

    .kariee_pozwolenia_content{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: 95%;
        gap: 5px;
        overflow-y: scroll;
        padding-right: 10px;
        input{
            background-color: var(--_contentColor);
            border: unset;
            color: white;
            padding: 10px;
            outline: none;
            margin-bottom: 10px;
        }

        .kmh_content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
            
            .kmh_content_info{
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                gap: 5px;
                font-size: .8rem; 
                div{
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--_contentColor);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    box-sizing: border-box;
                }
                .small_data{
                    flex-grow: 0;
                    width: 4%;
                }

                .kmh_content_name,
                .kmh_content_job{
                    justify-content: flex-start;
                    padding: 0px 10px;
                    box-sizing: border-box;
                }

            }

        }
    }
}

.kmh_content_buttons_upgrade{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    background-color: red;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 250ms;
    font-size: .8rem;
    width: 10%;

    &:hover{
        background-color: #ff8000;
        cursor: pointer;
        transition: all 0.5s;
    }

    &:active{
        scale: 0.95;
    }
}