
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.nui-wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

pre {
  counter-reset:line-numbering;
  background:#0A0A0A;
  padding:12px 0px 14px 0;
  color:#ecf0f1;
  line-height:140%;
}

.popup-thing {
  background: #0A0A0A;
  border-radius: 10px;
  width: 1020px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  padding: 16px;
  gap: 32px
}

button.top {
background-color: #141414;
 padding: 15px 15px;
 border: none;
 outline: none;
 overflow: hidden;
 color: white;
 font-weight: 600;
 font-size: 13px;
 border-radius: 26px;
 display: flex;
 justify-content: space-between;
 gap:8px;
 align-items: center;
 transition: all 0.3s ease-in-out;
}

button.top:hover {
  background-color: #1d1d1d;
  cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #141414;
  padding: 10px 16px;
  box-sizing: border-box;
  border-radius: 26px;
}

.user-left {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 32px;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  gap:8px;
  font-weight: 600;
}

.users-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  gap: 8px;
}
.user-name {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}

.user-distance {
  font-size: 12px;
  color: #565656;
  text-align: left;
}

.user-info-right {
  width: 200px;
}