.kariee_history{
    position: relative;
    height: 100%;

    .kariee_header{
        padding-right: 13px;
    }

    .kariee_history_content{
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
        height: 95%;
        gap: 5px;
        overflow-y: scroll;
        padding-right: 10px;

        .kmc_content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
            
            .kmc_content_info{
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                gap: 5px;
                font-size: .8rem; 
                div{
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--_contentColor);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    box-sizing: border-box;
                }
                .small_data{
                    flex-grow: 0;
                    width: 10%;
                }


                .kmc_content_complex,
                .kmc_content_name{
                    padding: 0px 10px;
                    box-sizing: border-box;
                    .kmc_content_complex_data,
                    .kmc_content_name_data{
                        width: fit-content;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: flex-end;
                        gap: 3.5px;
                        .kmc_c_complex_2,
                        .kmc_c_name_dcid{
                            font-size: .6rem;
                            color: var(--_descriptionText)
                        }
                    }
                    .kmc_content_name_copy{
                        width: fit-content;
                        justify-content: flex-end;
                        color: var(--_descriptionText);
                        &:hover{
                            opacity: .8;
                            cursor: pointer;
                            transition: all 250ms;
                        }

                        &:active{
                            scale: 0.95;
                        }
                    }
                }

                .kmc_content_job{
                    justify-content: flex-start;
                    padding: 0px 10px;
                    box-sizing: border-box;
                }

            }

            .kmc_content_buttons{
                display: flex;
                flex-direction: row;
                gap: 5px;
            }
        }
    }
}

.btn{
    width: 135px;
    font-size: .7rem;
}

