@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.wrapper {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heading p:first-child {
    color: white;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
}

.heading p:last-child {
    font-size: 2.4vw;
    font-weight: 900;
    letter-spacing: 0.05vw;
    background: linear-gradient(to bottom, #FFAF2F 0%, #865D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.05vw #FFAF2F;
}

.action-keys {
    display: flex;
    gap: 3vw;
    margin-top: 3vh;
}

.action-key-group {
    display: flex;
    align-items: center;
    gap: 0.4vw;
}

.action-key-group div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6vw;
    height: 1.6vw;
    border: 0.1vw solid #FFAF2F;
    border-radius: 0.2vw;
    font-weight: bold;
    color: #FFAF2F;
    background-color: rgba(255, 178, 54, 0.25);
}

.action-key-group p {
    font-size: 0.75vw;
    color: white;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4vh;
    margin-top: 3vh;
}

.counter-group p {
    font-size: 0.75vw;
    font-weight: 500;
    color: #7E7E7E;
}

.counter {
    display: flex;
    align-items: center;
    gap: 0.4vw;
    margin-top: 0.6vh;
}

.counter p {
    font-size: 1vw;
    font-weight: bold;
    color: white;
}

.counter span {
    display: flex;
    gap: 0.3vw;
}

.counter span p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 4.2vh;
    font-size: 1vw;
    font-weight: 500;
    border: 0.1vw solid #FFAF2F;
    border-radius: 0.2vw;
    color: #FFAF2F;
    background-color: rgba(255, 178, 54, 0.25);
}