@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0; margin: 0;
}

* {
    font-family: "Sora", sans-serif;
    box-sizing: border-box;
    margin: 0; padding: 0;
    user-select: none;
}

main {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    width: 74vw;
    height: 78vh;
    background-color: rgba(10, 10, 10, 0.95);

    border-radius: 0.6vw;
    padding: 4.5vh 3vw;

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    margin-top: 6vh;
    gap: 3.8vw;
    min-height: 0;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}