@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');
body {
  user-select: none;
  font-family: 'Inter', sans-serif;
  color: white;
  margin: 0;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
