.kariee_licenses{
    position: relative;
    height: 100%;

    .kariee_header{
        padding-right: 13px;
    }

    .kariee_licenses_content{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        height: 95%;
        gap: 5px;
        overflow-y: scroll;
        padding-right: 10px;
        input{
            background-color: var(--_contentColor);
            border: unset;
            color: white;
            padding: 10px;
            outline: none;
            margin-bottom: 10px;
            border-radius: 6px;
            box-shadow: var(--_shadowSm);
        }

        .kmh_content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 5px;
            
            .kmh_content_info{
                flex-grow: 1;
                display: flex;
                flex-direction: row;
                gap: 5px;
                font-size: .8rem; 
                div{
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--_contentColor);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    box-sizing: border-box;
                    border-radius: 4px;
                    transition: background-color 0.2s ease;
                }
                .small_data{
                    flex-grow: 0;
                    width: 10%;
                }

                .kmh_content_name,
                .kmh_content_job{
                    justify-content: flex-start;
                    padding: 0px 10px;
                    box-sizing: border-box;
                }

            }

            .kmh_content_buttons_license{
                display: flex;
                flex-direction: row;
                gap: 5px;
            }
        }
    }
}

.btn_license{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    padding: 15px 0px;
    background-color: red;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    transition: all 0.25s ease;
    font-size: .8rem;
    border-radius: 6px;
    box-shadow: var(--_shadowSm);

    &:hover{
        cursor: pointer;
        opacity: .8;
        box-shadow: var(--_shadowMd);
        transform: translateY(-1px);
    }

    &:active{
        transform: translateY(0) scale(0.95);
        box-shadow: var(--_shadowSm);
    }
}