.kariee_history {
    position: relative;
    height: 100%;

    .kariee_header {
        padding-right: 13px;
    }

    .kariee_history_content {
        margin-top: 10px;
        display: flex;
        flex-direction: column-reverse;
        height: 95%;
        gap: 5px;
        overflow-y: scroll;
        padding-right: 10px;

        .order-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            max-width: 500px;
            width: 100%;
            align-items: left;
            margin: auto;

            input, textarea {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        
            textarea {
                height: 100px;
                resize: vertical;
            }

            .buttons {
                display: flex;
                gap: 1rem;

                button {
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                    &:first-of-type {
                        background-color: #4CAF50; /* Green */
                        color: white;
                    }

                    &:last-of-type {
                        background-color: #f44336; /* Red */
                        color: white;
                    }

                    &:hover {
                        opacity: 0.8;
                    }

                    &:disabled {
                        background-color: #ccc;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}

.btn {
    width: 135px;
    font-size: 0.7rem;
}
