*{
	user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

html {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

body{
	display: block;
	color: #a8a8aa;
	font-family:Montserrat,system-ui,Segoe UI,Roboto,sans-serif;
}

.sign-container {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.0);
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	display: block;
}
.pricenumber {
	position: absolute;
	margin: 0;
	text-decoration: none;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);	
	font-size: 150px;
	color: #000000;
	font-weight:700;
	font-family:Montserrat,system-ui,Segoe UI,Roboto,sans-serif;
}