#videoframe {
	width: 0%;
	height: 0%;
	background-color: rgba(0, 0, 0, 1.0);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 9999999;
	display: block;
}